.menu {
    overflow-x: auto;
    font-family: fantasy
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: lightcyan;
}

th,
td {
    border: none;
    text-align: center;
    padding: 8px;
}

.play {
    position: absolute;
    display: none;
    top: 50%;
    width: 40px;
    margin: 0 auto;
    left: 0px;
    right: 0px;
    z-index: 100
}

.galleryItem:hover .play {
    display: block
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.container {
    width: 80%;
    margin: 30px auto;
    overflow: hidden;
}

.galleryItem {
    color: #797478;
    font: 10px/1.5 Verdana, Helvetica, sans-serif;
    float: left;
}

.galleryItem h3 {
    text-transform: capitalize;
}

.galleryItem img {
    max-width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.galleryItem {
    position: relative;
    color: #797478;
    font: 10px/1.5 Verdana, Helvetica, sans-serif;
    float: left;
    width: 16%;
    margin: 2% 2% 50px 2%;
}

@media only screen and (max-width: 940px),
only screen and (max-device-width: 940px) {
    .galleryItem {
        width: 21%;
    }
}

@media only screen and (max-width: 720px),
only screen and (max-device-width: 720px) {
    .galleryItem {
        width: 29.33333%;
    }
}

@media only screen and (max-width: 940px),
only screen and (max-device-width: 940px) {
    .galleryItem {
        width: 21%;
    }
}

@media only screen and (max-width: 720px),
only screen and (max-device-width: 720px) {
    .galleryItem {
        width: 29.33333%;
    }
}

@media only screen and (max-width: 530px),
only screen and (max-device-width: 530px) {
    .galleryItem {
        width: 46%;
    }
}

@media only screen and (max-width: 320px),
only screen and (max-device-width: 320px) {
    .galleryItem {
        width: 96%;
    }
    .galleryItem img {
        width: 96%;
    }
    .galleryItem h3 {
        font-size: 18px;
    }
    .galleryItem p,
    {
        font-size: 18px;
    }
}